p{
  font-size: 20px;
  color:black;
  float: center;
  font-style: italic;
}

h1{
  font-size: 70px;
#;

}

html{
  background-image: url(http://www.isejingu.or.jp/sp/wallpaper/img/wallpaper_p02.jpg);
  background-size: cover;
}

ul{
  float: left;
}
div{
line-height: 40px;
width: 100px;
height: 150px;
}

img.fb{
  image-size: 40%;

}
